---
layout: default
title: Home
---
<div class="posts">
    {% for post in paginator.posts %}
    <div class="row">
        <div class="post">
            <h2 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
            <span class="post-date">{{ post.date | date_to_string }}</span>
        </div>
    </div>
    {% endfor %}
</div>
<div class="pagination">
    {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Prev</a>
    {% else %}
    <span class="pagination-item older">Prev</span>
    {% endif %}
    {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
    <a class="pagination-item newer" href="{{ site.baseurl }}/">Next</a>
    {% else %}
    <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Next</a>
    {% endif %}
    {% else %}
    <span class="pagination-item newer">Next</span>
    {% endif %}
</div>
