<div class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-about">
            <h2><a href="{{ site.baseurl }}/">{{ site.title }}</a></h2>
            <p class="lead">{{ site.description.sidebar }}</p>
        </div>
        <div>
            <nav class="sidebar-nav">
                {% for key in site.category %}
                <a class="sidebar-nav-item" href="{{ site.baseurl }}/category/{{ key | downcase }}">{{ key }}</a>
                {% endfor %}
            </nav>
        </div>
    </div>
</div>
