<nav class="nav-bar">
    <div class="nav-bar-item">
        <span class="sidebar-btn" id="sidebarCollapse"></span>
    </div>
    <div class="nav-bar-item">
        <h2><a href="{{ site.baseurl }}/">Home</a></h2>
    </div>
</nav>

<nav id="sidebar">
    <div class='sidebar-ctx'>
        <div class="sidebar-nav-item">
            <input type="search" id="search" placeholder="Search..." />
        </div>
        <br>
        <div>
            <p class="lead">{{ site.description.sidebar }}</p>
        </div>
        {% for key in site.category %}
        <div>
            <a class="sidebar-nav-item" href="{{ site.baseurl }}/category/{{ key | downcase }}">{{ key }}</a>
        </div>
        {% endfor %}
    </div>
</nav>

<div class="overlay"></div>
