---
layout: default
title: Home
---
<!-- Set variable -->
{% assign post_cnt = 0 %}

<!-- Title -->
<div>
    {% if page.category %}
    <h1 class="page-title">{{ page.category | upcase }}</h1>
    {% endif %}
    {% if page.description %}
    <h3 class="page-subtitle">- {{ page.description }}</h3>
    {% endif %}
</div>

<!-- Print Post List -->
<div class="related">
    <blockquote>
        <p>View Posts</p>
    </blockquote>
    <ul class="related-posts">
{% for post in site.posts %}
    {% if page.category == 'all' %}
        {% include post-list-box.html %}
        {% assign post_cnt = post_cnt | plus: 1 %}
    {% else %}
        {% if post.category == page.category %}
            {% include post-list-box.html %}
            {% assign post_cnt = post_cnt | plus: 1 %}
        {% endif %}
    {% endif %}
{% endfor %}
{% if post_cnt < 1 %}
    <span class="post-content"> 등록된 게시물이 없습니다. </span>
{% endif %}
    </ul>
</div>
